.Rhistory
.RData
.Rproj.user
*.aux
*.out
*.log
titanic-survival_files
titanic-survival.tex
data/Titanic Maiden Voyage Passengers and Crew.xlsx
data/titanic.csv
data/titanic3.csv
data/query_result.csv
*_files/
*_cache/
